<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to the text Analyzier Enter your text below</h1>
<form action="/analyze" method="get">
    <textarea name="text" id="" cols="30" rows="10" style="width: 1245px; height: 283px;"></textarea><br>
    <input type="checkbox" name="removepun">Analyze Text <br> <br>
    <input type="checkbox" name="capatalize">Capatalize Letter <br> <br>
    <button type="submit">Analyze Text</button>
    
</form>
</body>
</html>